<div class="app-wrapper">
    <div class="button-wrapper">
        <a href="../images/resume.pdf" download>
            <img src="../images/resume_icon.png" alt="Resume download link" class="icon-image margin-button" id="resume-button">
            <small class="icon-label">Resume.pdf</small>
        </a> 
    </div>
    <div class="button-wrapper">
        <a href="/portfolio">
            <img src="../images/file-icon.png" alt="Portfolio" class="icon-images">
            <small class="icon-label">Portfolio</small> 
        </a>
    </div>
    <div class="button-wrapper">
        <a id="contact-me-button">
            <h3 id="new-tag">New!</h3>
            <img src="../images/mail.png" alt="Contact Me" class="icon-images" id="email-button">
            <small class="icon-label" id="email-button-text">Contact Me</small> 
        </a>
    </div>
    <div class="button-wrapper">
        <a href="https://www.github.com/dy-fi">
            <img src="../images/GitHub-Mark.png" alt="Github profile link" class="icon-image">
            <small class="icon-label">Github</small>
        </a>
    </div>  
    <div class="button-wrapper">
        <a href="https://www.linkedin.com/in/dylan-f-a36b9614b/">
            <img src="../images/linkedin-icon.png" alt="LinkedIn profile link" class="icon-image margin-button">
            <small class="icon-label">LinkedIn</small>
        </a>
    </div>
</div>
