<div id="sticky-wrapper">
    <div id="sticky-macbar"></div>
    <div id="sticky">
        <a>Updates</a>
        <br>
        <small styles="text-decoration: muted">v2.8.0</small>
        <hr>
        <p id="sticky-text"><a>There are new accessibility features and the contact email form now works. Feel free to email me with serious inquiries!<br><br>Roadmap: <br>-Redeploy on a new domain <br>-wildcard this site and host projects here</p>
        <p><span id="sticky-type" readonly></span></p>
    </div>
</div>