<div id="sticky-wrapper">
    <div id="sticky-macbar"></div>
    <div id="sticky">
        <a>Updates</a>
        <br>
        <small styles="text-decoration: muted">v2.7.4</small>
        <hr>
        <p id="sticky-text"><a>Better responsiveness and a new portfolio page!<br><br>Roadmap: <br>-Email Module<br>-wildcard this site and host projects here</p>
        <p><span id="sticky-type" readonly></span></p>
    </div>
</div>