{{#if message}}
    <div id="flash-div">
        <span id="address-line">From: Server</span>
        <p id="message-text">{{message}}</p>
    </div>
{{/if}}

<div id="terminal-wrapper" style="padding:0px;">
    <div id="terminal-wrapperheader">~~dylanfinn@Dylan's-Hackbook-Pro~~</div>
    <div id='index-terminal'></div>
</div>

<div id="sticky-wrapper">
    <div id="sticky-macbar"></div>
    <div id="sticky">
        <a>Updates</a>
        <br>
        <small styles="text-decoration: muted">v2.7.4</small>
        <hr>
        <p id="sticky-text"><a>Mobile and widescreen responsive<br><br>Roadmap: <br>-Email Module<br>-wildcard this site and host projects here</p>
        <p><span id="sticky-type" readonly></span></p>
    </div>
</div>

<!-- BUTTONS -->
<div class="app-wrapper">
    <div class="button-wrapper">
        <a href="https://www.linkedin.com/in/dylan-finn-a36b9614b/">
            <img src="../images/linkedin-icon.png" alt="LinkedIn profile link" class="icon-image" style="margin-top:2%;">
            <small class="icon-label-1">LinkedIn</small>
        </a>
    </div>
    <div class="button-wrapper">
        <a href="https://www.github.com/dy-fi">
            <img src="../images/GitHub-Mark.png" alt="Github profile link" class="icon-image">
            <small class="icon-label-2">Github</small>
        </a>
    </div>  
    <div class="button-wrapper">
        <a href="../images/resume.pdf" download>
            <img src="../images/resume_icon.png" alt="Resume dowload link" class="icon-image" style="background-color:darkblue">
            <small class="icon-label-3">Resume.pdf</small>
        </a> 
    </div>
</div>

<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="email-modal-label">Contact Me</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{>email-form}}
            </div>
            <div class="modal-footer">
                For business inquires
            </div>
        </div>
    </div>
</div>


{{#section 'script'}}
    <script src='https://cdn.jsdelivr.net/npm/typed.js@2.0.9'></script>
    <script>
        dragElement(document.getElementById("terminal-wrapper"));

        function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id + "header")) {
                /* if present, the header is where you move the DIV from:*/
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
            } else {
                /* otherwise, move the DIV from anywhere inside the DIV:*/
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:
                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement() {
                /* stop moving when mouse button is released:*/
                document.onmouseup = null;
                document.onmousemove = null;
            }
        }
                    
        var typed = new Typed('#sticky-type', {
            stringsElement: '#sticky-text',
            typeSpeed: 30,
            showCursor: true,
        });

        var banner = `
 ____             ___                        ____                           
\/\\  _\`\\          \/\\_ \\                      \/\\  _\`\\   __                    
\\ \\ \\\/\\ \\  __  __\\\/\/\\ \\      __      ___    \\ \\ \\L_\\\ /\\_\\    ___     ___    
 \\ \\ \\ \\ \\\/\\ \\\/\\ \\ \\ \\ \\   \/'__\`\\  \/' _ \`\\   \\ \\  _\\\/\\\/\\ \\ \/' _ \`\\ \/' _ \`\\  
  \\ \\ \\_\\ \\ \\ \\_\\ \\ \\_\\ \\_\/\\ \\L\\.\\_\/\\ \\\/\\ \\   \\ \\ \\\/  \\ \\ \\\/\\ \\\/\\ \\\/\\ \\\/\\ \\ 
   \\ \\____\/\\\/\`____ \\\/\\____\\ \\__\/.\\_\\ \\_\\ \\_\\   \\ \\_\\   \\ \\_\\ \\_\\ \\_\\ \\_\\ \\_\\
    \\\/___\/  \`\/___\/&gt; \\\/____\/\\\/__\/\\\/_\/\\\/_\/\\\/_\/    \\\/_\/    \\\/_\/\\\/_\/\\\/_\/\\\/_\/\\\/_\/
               \/\\___\/                                                       
               \\\/__\/ `


        var table = `

Hey, I'm Dylan, a crazy passionate software engineer.  You can find everything you need to know about\nmy work through this terminal!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        [[b;#33FF00;]COMMAND]             [[b;#33FF00;]Description]
        ----------------|--------------------------
        help (or h)     |     Bring this table up again\n
        contact         |     Email modal\n
        portfolio       |     My personal portfolio\n
        Github          |     My personal and professional software projects on Github\n
        [[bg;#2471A3;]+ some super secret cheat codes!]
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
For those who aren't familiar with the terminal, just type the command you want!`

        var help = `
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        COMMAND             Description
        ----------------|--------------------------
        help (or h)     |     bring this table up again\n
        contact         |     email module\n
        portfolio       |     my personal portfolio\n
        Github          |     My personal and professional software projects on Github\n
        [[bg;#2471A3;]+ some super secret cheat codes!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        `

        function goURL(path) {
            return window.location.replace(window.location.origin + "/" + path)
        }

        jQuery(function($, undefined) {
            $('#index-terminal').terminal({
                github: function() {
                    window.open("https://github.com/dy-fi");
                },
    
                portfolio: function() {
                    window.location.replace("/portfolio")
                },
    
                contact: function() {
                    {{!-- $('#email-modal').modal('show'); --}}
                    this.echo("Coming soon");
                },

                help: function() {
                    this.echo(help);
                },

                h: function() {
                    this.echo(help);
                },
            }, {
                greetings: banner + "\n" + table,
                name: 'Terminal',
                height: 600,
                width: 800,
                prompt: '# ~> '
            })
        })
    </script>
{{/section}}