<div id="index-macbar">~~dylanfinn@Dylan's-Hackbook-Pro~~</div>
<div id='index-terminal'></div>

<a href="https://www.linkedin.com/in/dylan-finn-a36b9614b/" class="icon-button" style="margin-top:-42%;">
    <img src="../images/linkedin-icon.png" alt="LinkedIn profile link" class="icon-image" height="75px" width="75px" style="border-radius:20px; margin-top:-1%;">
    <br>
    <small class="icon-label">LinkedIn</small>
</a>

<a href="https://www.github.com/dy-fi" class="icon-button" style="margin-top:-34%;">
    <img src="../images/Github-Mark.png" alt="Github profile link" height="75px" width="75px" style="border-radius:20px;">
    <br>
    <small class="icon-label">Github</small>
</a>







<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="email-modal-label">Contact Me</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{>email-form}}
            </div>
            <div class="modal-footer">
                For business inquires
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
    <script>
        var banner = `
 ____             ___                        ____                           
\/\\  _\`\\          \/\\_ \\                      \/\\  _\`\\   __                    
\\ \\ \\\/\\ \\  __  __\\\/\/\\ \\      __      ___    \\ \\ \\L_\\\/\\_\\    ___     ___    
 \\ \\ \\ \\ \\\/\\ \\\/\\ \\ \\ \\ \\   \/'__\`\\  \/' _ \`\\   \\ \\  _\\\/\\\/\\ \\ \/' _ \`\\ \/' _ \`\\  
  \\ \\ \\_\\ \\ \\ \\_\\ \\ \\_\\ \\_\/\\ \\L\\.\\_\/\\ \\\/\\ \\   \\ \\ \\\/  \\ \\ \\\/\\ \\\/\\ \\\/\\ \\\/\\ \\ 
   \\ \\____\/\\\/\`____ \\\/\\____\\ \\__\/.\\_\\ \\_\\ \\_\\   \\ \\_\\   \\ \\_\\ \\_\\ \\_\\ \\_\\ \\_\\
    \\\/___\/  \`\/___\/&gt; \\\/____\/\\\/__\/\\\/_\/\\\/_\/\\\/_\/    \\\/_\/    \\\/_\/\\\/_\/\\\/_\/\\\/_\/\\\/_\/
               \/\\___\/                                                       
               \\\/__\/ `

        var table = `

Hey, I'm Dylan, a crazy passionate software engineer.  You can find everything you need to know about\nmy work through this terminal!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        COMMAND             Description
        ----------------|--------------------------
        help (or h)     |     Bring this table up again\n
        contact         |     Email modal\n
        porfolio        |     My personal portfolio\n
        ms_portfolio    |     My portfolio from Make School\n
        projects        |     My personal and professional software projects\n
        about           |     About the author\n
        + some super secret cheat codes!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
For those who aren't familiar with the terminal, just type the command you want! \nThis terminal is also resizable for your convenience.`

        var help = `
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        COMMAND             Description
        ----------------|--------------------------
        help (or h)     |     bring this table up again
        contact         |     email module\n
        porfolio        |     my personal portfolio\n
        ms_portfolio    |     My portfolio from Make School\n
        projects        |     My personal and professional software projects\n
        about           |     About the author\n
        home            |     Beam me up Scotty!\n
        + some super secret cheat codes!
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~\n
        `

        var about = `
Name: Dylan Finn\n
Title: Software Engineer (specialization in backend)\n
Bio
        `

        function goURL(path) {
            return window.location.replace(window.location.origin + "/" + path)
        }

        jQuery(function($, undefined) {
            $('#index-terminal').terminal({
                ms_portfolio: function() {
                    window.location.replace("https://www.makeschool.com/portfolio/Dylan-Finn");
                },

                about: function() {
                    this.echo(about);
                },
    
                portfolio: function() {
                    this.echo("My portfolio page placeholder");
                },
    
                projects: function() {
                    goURL("projects");
                },
    
                contact: function() {
                    $('#email-modal').modal('show');
                },

                help: function() {
                    this.echo(help);
                },

                h: function() {
                    this.echo(help);
                },
            }, {
                greetings: banner + "\n" + table,
                name: 'Name placeholder',
                height: 600,
                width: 800,
                prompt: '# ~> '
            })
        })

        $('#index-terminal').watch('width', function(propName, oldVal, newVal) {
            $('#index-macbar').width(newVal);
        })

    </script>
{{/section}}