body {
    margin: 0;
    padding: 0;
    background-color: slategrey;
    background-image: url("../images/mojave_background.jpg");
    background-size: cover;
}

#index-terminal {
    opacity: 0.8;
    overflow: auto;
    position: absolute;
    left: 30px;
    top: 60px;
}

#terminal-wrapperheader {
    background-color: slategray;
    text-align: center;
    width: 800px;
    height: 16px;
    font-size: 12px;
    border-bottom: 2px solid gray;
    position: absolute;
    left: 30px;
    top: 44px;
}

#sticky {
    background-color: yellow;
    height: 300px;
    width: 220px;
    padding: 10px;
    position: absolute;
    top: 125px;
    right: 350px;
}

#sticky-text {
    width: 220px;
}

#sticky-macbar {
    background-color:#F5EC2E;
    width: 220px;
    height: 16px;
    padding: 2px;
    position: absolute;
    top: 110px;
    right: 350px;
}

#sticky-wrapper {
    height: 400px;
    width: 220px;

}

#flash-div {
    height: 80px;
    width: 220px;
    background-color: green;
    color: whitesmoke;
    margin: auto;
    margin-top: -5%;
    margin-left: 70%;
    border-radius: 20px;
    position: absolute;
}

#address-line {
    background-color: grey;
    color: black;
    border-bottom: 1px grey;
    padding: 7px;
    height: 40%;
    width: 100%;
    padding-right: 109px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
}

#message-text {
    position: absolute;
    margin-top: 15%;
    margin-left: 3%;
    overflow: auto;
}

.icon-label {
    text-align: center;
    display: block;
}

.app-wrapper {
    position: absolute;
    right: 90px;
    top: 100px;
}

.app-wrapper a {
    text-align: center;
    color: white;
}

.app-wrapper img {
    border-radius: 20px;
    height: 75px;
    width: 75px;
}

.app-wrapper small {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding-bottom: 1%;
}

.button-wrapper {
    padding-bottom: 25px;
    text-align: center;
}

.portfolio-wrapper {
    background-color: #46494d;
    position: absolute;
    height: 94vh;
    width: 98vw;
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 5px;
    color: #F5F5F5;
    left: 15px;
}

.portfolio-sect {
    flex-basis: auto;
    padding-top: 10px;
    height: 88vh;
    border: 3px solid #46494d;
    margin-top: 15px;
    background-color: #383737;
}

#summary {
    width: 32vw;
    flex-grow: 4;
    overflow: auto;
}

#summary-text-wrapper {
    margin: 0 auto;
    padding: 5px;
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
}

#scrollbar {
    width: 20vw;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 0px;
}

#projects {
    flex-grow: 2;
    width: 32vw;
}

#bio-text {
    padding: 15px;
}

.modal-content {
    background-color: darkgray;
}

.form-control {
    border-radius: 2px;
}

.card-wrapper {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: #46494d;
    padding: 15px;
}

.card-image {
    height: 50px;
    width: 50px;
}

.card-blowup {
    position: absolute;
    right: 35px;
    top: 40px;
    width: 32vw;
    justify-content: center;
}

.blowup-image {
    width: 32vw;
}

.selected {
    background-color: #ADD8E6;
    border: 5px solid white;
}

#x-button {
    border: 1px solid black;
    border-radius: 50%;
    background-color: #cf4250;
    position: absolute;
    height: 15px;
    width: 15px;
    top: 4px;
    left: 5px;
    padding: 0;
    margin: 0;
}

