@media screen and (max-width: 950px) {
    
    body { 
        background-repeat: no-repeat;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    #container {
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    #terminal-wrapper {
        transform: scaleX(0.72);
        transform-origin: top left;
        position: absolute;
        width: 100%;
        height: 100%;
        left: -5%;
        top: -5%;
        margin: 0;
        padding: 0;
    }

    #terminal-wrapper-header {
        width: 570px;
    }

    .app-wrapper {
        width: 100%;
        display: flex;
        position: absolute;
        flex-direction: row;
        flex-wrap: none;
        justify-content: center;
        margin: 0;
        margin-top: 72vh;
        left: 3%;
        border-style: groove;
        border-color: slategray;
        z-index: 0; 
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        background-color: RGB(192, 194, 201, 0.5);
        border-radius: 10px;
        border-bottom-style: none;
        padding-top: 5px;
    }

    .button-wrapper {
        align-content: center;
        margin: auto;
        position: sticky;
    }

    .app-wrapper img {
        border-radius: 25px;
        padding: 2px;
        width: 100%;
        height: 100px;
    }

    #new-tag {
        display: none; 
    }

    #sticky-wrapper {
        display: none;
    }

    #sticky br {
        display: none;
    }

    #home-bar-cover {
        display: block;
        box-sizing: border-box;
        width: 101%;
        height: 3vh;
        left: 8px;
        bottom: 0;
        padding: 0;
        margin: 0;
        margin-bottom: 0px;
        position: absolute;
        background-color: rgb(24, 25, 25);
        z-index: 1;
    }
}